html, body {
    margin: 0px;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
    font-size: 15pt;
}

a {
    text-decoration: none;
}

a:hover {
    color: #EDEEE9;
}

h1 {
    font-family: 'PT Serif', serif;
    font-size: 26pt;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -70px;
    background-color: #D9DAD5;
}

header{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #020532;
}

header img {
    padding: 10px;
}

nav {
    text-align: center;
    border-top-width: 1px;
    border-top-color: #605D70;
    border-top-style: solid;
    background-color: #020532;
    padding-bottom: 5px;
}

nav ul {
    padding: 0px;
}

nav li {
    display: inline;
}

nav a {
    padding: 10px;
    padding-left: 20;
    padding-right: 20;
    color: #605d70;
}

main {
    text-align: center;
    color: #020432;
}

#contact {
    font-size: 20pt;
    padding-bottom: 30px;
}

#services {
    text-align: left;
    font-size: 15pt;
    padding-bottom: 80px;
}

.centerRect {
    max-width: 700px;
    margin: auto;
    background-image: url(images/visu_zakres.png);
    background-repeat: no-repeat;
    background-position: center;
}

#topLine {
    background-image: url(images/cien_winieta.png);
    height: 8px;
    width: 100%;
    margin-bottom: 30px;
}

#bottomLine {
    background-image: url(images/cien_stopka.png);
    height: 8px;
    width: 100%;
    background-color: #D9DAD5;
}

footer {
    height: 70px;
    background-color: #020532;
}

.copyright {
    text-align: center;
    font-size: 8pt;
    font-family: sans-serif;
    color: #605d70;
    margin-top:20px;

}

#services {
    display: none;
}
